.lead__title{
    margin: 0px;
    padding: 0px;
    max-width: 720px;
    color: #fff;
    text-align: center;
    font-size: 96px;
    font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    word-break: break-word;
}

  @media screen and (max-width: 650px){
    .lead__title{
      font-size: 60px;
      line-height: 1.2em;
    }
  }
  @media screen and (max-width: 450px){
    .lead__title{
      font-size: 50px;
    }
  }

@media screen and (max-width: 320px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;

    }
  }