.place__website{
    margin: 0px;
    padding: 0px;
    max-width: 456px;
    display: grid;
    justify-items: stretch;
    align-self: end;
    row-gap: 12px;
}

  @media screen and (max-width: 768px){
    .place__website{
        width: 100%;
    }
  }

  @media screen and (max-width: 320px){
    .place__website{
        margin: 0 16px;
        width: 90%;
        max-width: 285px;
        align-self: flex-start;
        margin-top: 32px;
        display: flex;
        flex-direction: column;

    }
  }